<!DOCTYPE html>
<html lang="es">

<body style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <div class="container" style="width: 24rem; margin: 0 auto; text-align: center;">
        <div class="flex flex-col items-center justify-center">
            <img src="http://res.cloudinary.com/ddqc2fdx4/image/upload/v1720730877/av45hctyqxvyopmaphbn.jpg" alt="Logo Astuc" style="max-width: 100%; height: auto;">
            <p style="font-size: 20px;">Cuenta creada con éxito!</p>
            <p style="font-size: 16px; text-align: center;">
                ¡Gracias por unirte a la comunidad de Astuc! Nos complace darte la bienvenida a nuestro sitio web, donde encontrarás una selección de productos cannábicos de alta calidad y toda la información que necesitas para disfrutar de ellos de manera segura y responsable.
                <br><br>
                En Astuc, nos apasiona ofrecerte:
                <br>
                🌿 Productos Premium: Una amplia gama de productos cannábicos, desde flores y aceites hasta comestibles y accesorios, todos seleccionados con el mayor cuidado.
                <br>
                📚 Información Educativa: Artículos y guías detalladas para ayudarte a entender y aprovechar al máximo nuestros productos.
                <br>
                💬 Atención al Cliente: Nuestro equipo está siempre disponible para responder tus preguntas y asistirte en lo que necesites.
                <br><br>
                <a href="https://astuc.org/iniciar-sesion" target="_blank" style="background-color: #365475; color: white; padding: 8px 16px; border-radius: 4px; text-decoration: none; display: inline-block;">Ingresar</a>
                <br><br>
                Gracias por confiar en nosotros. ¡Esperamos que disfrutes de tu experiencia en Astuc!
                <br><br>
                Saludos,<br>
                El equipo de Astuc
            </p>
        </div>
    </div>
</body>

</html>
